<div class="footer-inner">
  <div class="inner">
    <div class="cont.contact">
      <div class="info-sns">
        <a href="http://www.instagram.com" target="_blank">
          <i class="lab la-instagram"></i>
        </a>
        <a href="http://www.Facebook.com" target="_blank">
          <i class="lab la-facebook"></i>
        </a>
        <a href="http://www.twitter.com" target="_blank">
          <i class="lab la-twitter"></i>
        </a>
      </div>
      <div class="footer-txt">
        <span>예술과아카이브 | 사업자등록번호 : 314-20-75752 | 02-2654-7184</span>
        <span>COPYRIGHT Ⓒ ARTHUB ALL RIGHTS RESERVED.</span>
      </div>
      <div id="logo">
        <a href="#">
          <span>ARTHUB</span>
        </a>
      </div>
    </div>
  </div>
</div>
