<div class="inner">
  <h1 id="logo">
    <a href="#">
      <span>ARTHUB</span>
    </a>
  </h1>
  <nav id="gnb" class="gnb">
    <ul class="gnb__depth1">
      <li>
        <a href="#">
          <span>기업소개</span>
        </a>
        <ul class="gnb__depth2">
          <li><a href="#">menu1-1</a></li>
          <li><a href="#">menu1-2</a></li>
          <li><a href="#">menu1-3</a></li>
          <li><a href="#">menu1-4</a></li>
        </ul>
      </li>
      <li>
        <a href="#"><span>전시</span></a>
        <ul class="gnb__depth2">
          <li><a href="#">menu2-1</a></li>
          <li><a href="#">menu2-2</a></li>
          <li><a href="#">menu2-3</a></li>
          <li><a href="#">menu2-4</a></li>
        </ul>
      </li>
      <li>
        <a href="#"><span>큐레이션</span></a>
        <ul class="gnb__depth2">
          <li><a href="#">menu3-1</a></li>
          <li><a href="#">menu3-2</a></li>
          <li><a href="#">menu3-3</a></li>
          <li><a href="#">menu3-4</a></li>
        </ul>
      </li>
      <li>
        <a href="#"><span>레지던시</span></a>
        <ul class="gnb__depth2">
          <li><a href="#">menu4-1</a></li>
          <li><a href="#">menu4-2</a></li>
          <li><a href="#">menu4-3</a></li>
          <li><a href="#">menu4-4</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="util">
    <!-- active 추가시 활성화 -->
    <!-- <div class="lang">
        <button class="lang__btn">kor</button>
        <ul class="lang__lst">
          <li>kor</li>
          <li>eng</li>
        </ul>
      </div> -->
    <button class="search">
      <span class="blind">검색</span>
    </button>
    <button class="all-menu">
      <span class="blind">전체메뉴</span>
    </button>
  </div>
</div>
<!-- active 추가시 활성화 -->
<nav id="nav-all" class="">
  <ul class="gnb__depth1">
    <li>
      <a href="#">
        <span>menu1</span>
      </a>
      <ul class="gnb__depth2">
        <li><a href="#">menu1-1</a></li>
        <li><a href="#">menu1-2</a></li>
        <li><a href="#">menu1-3</a></li>
        <li><a href="#">menu1-4</a></li>
      </ul>
    </li>
    <li>
      <a href="#"><span>menu2</span></a>
      <ul class="gnb__depth2">
        <li><a href="#">menu2-1</a></li>
        <li><a href="#">menu2-2</a></li>
        <li><a href="#">menu2-3</a></li>
        <li><a href="#">menu2-4</a></li>
      </ul>
    </li>
    <li>
      <a href="#"><span>menu3</span></a>
      <ul class="gnb__depth2">
        <li><a href="#">menu3-1</a></li>
        <li><a href="#">menu3-2</a></li>
        <li><a href="#">menu3-3</a></li>
        <li><a href="#">menu3-4</a></li>
      </ul>
    </li>
    <li>
      <a href="#"><span>menu4</span></a>
      <ul class="gnb__depth2">
        <li><a href="#">menu4-1</a></li>
        <li><a href="#">menu4-2</a></li>
        <li><a href="#">menu4-3</a></li>
        <li><a href="#">menu4-4</a></li>
      </ul>
    </li>
  </ul>

  <button class="close">
    <span class="">전체메뉴 닫기</span>
  </button>
</nav>
